*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@media (max-width:1300px){
  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1768px) {
  body {
    font-size: 16px;
    display:grid;
}
}
@media (max-width: 480px) {
  body {
    font-size: 12px;
    padding: 0px;
}
}
div.ADIDAS-container{
  background-color: #ffffff;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
section.showcase-shoe-details